* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header{
background-color:#5F0085 ; 
color:white;   
}
.boutonvert{
    background-color: #28a745;
    border-radius: 25px;
    padding: 10px 20px;
}

li {
    display : inline-block ;
}

a {
    color: #ffffff;
    text-decoration: none;
} 
